.shipDeviceTable {
  table-layout: fixed;
  width: 100%;
}
/*div {*/
/*  color: antiquewhite;*/
/*}*/
.bs0 {
  width: 175px;
}
.bs1 {
  width: 120px;
}
.bs2 {
  width: 50px;
}
.bs3 {
  width: 40px;
}
.hh1 {
  color: aqua;
}
.hh2 {
  .btn: true;
  .btn-outline-info: true;
}
.statTable td{
  padding-left: 10px;
}
/*.btn-outline-info{*/

/*  background-color: red;*/

/*  color: blue;*/

/*}*/
/*.btn-outline-info:hover,*/

/*.btn-outline-info:focus,*/

/*.btn-outline-info:visited{*/

/*  background-color: blue;*/

/*  color: red;*/

/*}*/
