<button class="btn btn-outline-info" [disabled]="!this.game.playerShip.equipments.has(Equip.ARMOR)" type="submit" (click)="getInfo(Equip.ARMOR)">Броня</button>
<button class="btn btn-outline-info" [disabled]="!this.game.playerShip.equipments.has(Equip.CAPACITOR)" type="submit" (click)="getInfo(Equip.CAPACITOR)">Энергосистема</button>
<button class="btn btn-outline-info" [disabled]="!this.game.playerShip.equipments.has(Equip.CARGOBAY)" type="submit" (click)="getInfo(Equip.CARGOBAY)">Грузовой отсек</button>
<button class="btn btn-outline-info" [disabled]="!this.game.playerShip.equipments.has(Equip.FUELTANK)" type="submit" (click)="getInfo(Equip.FUELTANK)">Топливный бак</button>
<button class="btn btn-outline-info" [disabled]="!this.game.playerShip.equipments.has(Equip.LASERGUN)" type="submit" (click)="getInfo(Equip.LASERGUN)">Лазер</button>
<button class="btn btn-outline-info" [disabled]="!this.game.playerShip.equipments.has(Equip.ROCKETLAUNCHER)" type="submit" (click)="getInfo(Equip.ROCKETLAUNCHER)">Ракетная установка</button>
<button class="btn btn-outline-info" [disabled]="!this.game.playerShip.equipments.has(Equip.SHIELD)" type="submit" (click)="getInfo(Equip.SHIELD)">Щит</button>
<div>
  {{this.id}}
</div>
<div>
  {{this.name}} Стоимость продажи: {{this.price}}
</div>
<div>
  {{this.info}}
</div>
<button [ngClass]="this.myStyle" [disabled]="game.trade !== Trade.SHIP" type="submit" (click)="deleteE()">Снять</button>
<button [ngClass]="this.myStyle" [disabled]="game.trade !== Trade.INVENTORY || equipment.type === Equip.GOODS" type="submit" (click)="setE()">Установить</button>
<button [ngClass]="this.myStyle" [disabled]="game.trade !== Trade.INVENTORY" type="submit" (click)="sell()">Продать</button>
<table border="0" align="center" cellpadding="4"  table-layout="fixed">
  <tr *ngFor="let jj of [].constructor(this.game.playerShip.maxCargo / 4); let j=index">
    <td>
    <span *ngFor="let thing of game.inventory; let i=index">
        <button *ngIf="i % (this.game.playerShip.maxCargo / 4) === j" [ngClass]="this.myStyle" [disabled]="game.inventory[i] === game.emptyEquipment" type="submit" (click)="getInfoFromInv(i)">{{thing.label}}</button>
    </span>

    </td>
  </tr>
</table>


