.shipDeviceTable {
  table-layout: fixed;
  width: 100%;
}
.bs0 {
  width: 150px;
}
.bs1 {
  width: 180px;
}
.bs2 {
  width: 50px;
}
.hh1 {
  color: aqua;
}
.hh2 {
  color: blueviolet;
}
/*.btn-outline-info{*/

/*  background-color: red;*/

/*  color: blue;*/

/*}*/
/*.btn-outline-info:hover,*/

/*.btn-outline-info:focus,*/

/*.btn-outline-info:visited{*/

/*  background-color: blue;*/

/*  color: red;*/

/*}*/
