server {
  listen $PORT default_server;
  include /etc/nginx/mime.types;

  root  /usr/share/nginx/html/space;
  index  index.html index.htm;

  location / {
        try_files $uri $uri/ /index.html;
      }
  }
