<div class="ml-5">
{{globalCount}}
{{point0.x}}
{{point0.y}}
<p>
<button class="btn btn-outline-info  " type="submit" (click)="start()"></button>

<canvas #canvas123 id='qwe' width={{maxAreaX}} height={{maxAreaY}} style="background-color: black" (mousemove)="mm($event)" (mousedown)="mdown($event)" (mouseup)="mup()"></canvas>
</div>

<p>
<button class="btn btn-outline-info  " type="submit" (click)="povorot(-10)">L</button>
<button class="btn btn-outline-info  " type="submit" (click)="povorot(10)">R</button>
<button class="btn btn-outline-info  " type="submit" (click)="forward(5)">W</button>
<button class="btn btn-outline-info  " type="submit" (click)="forward(-5)">S</button>

  <button class="btn btn-outline-info  " type="submit" (click)="touchInit()">touch</button>

