
{{globalCount}}
{{figures.length}}

<div class="ml-5">
<canvas #canvas123 id='qwe' width={{maxCanvasX}} height={{maxCanvasY}} style="background-color: black" (mousemove)="mouseMove($event)" (mousedown)="mouseDown($event)" (mouseup)="mouseUp()"></canvas>
</div>
<button class="btn btn-outline-info  " type="submit" (click)="start()">Запустить</button>
<p>
<button class="btn btn-outline-info  " type="submit" (click)="povorot(-10)">A</button>
<button class="btn btn-outline-info  " type="submit" (click)="povorot(10)">D</button>
<button class="btn btn-outline-info  " type="submit" (click)="forward(5)">W</button>
<button class="btn btn-outline-info  " type="submit" (click)="forward(-5)">S</button>

  <button class="btn btn-outline-info  " type="submit" (click)="moveToTarget()">Движение к цели</button>
  <button class="btn btn-outline-info  " type="submit" (click)="followToTarget()">Движение за целью</button>
  <button class="btn btn-outline-info  " type="submit" (click)="dock()">Стыковка</button>
  <button class="btn btn-outline-info  " type="submit" (click)="undock()">Вылет</button>
  <button class="btn btn-outline-info  " type="submit" (click)="fire()">Выстрел</button>

